
.container {
    width:1300px;
    height:420px;
    padding:20px;
    background:#eee;
    border: 1px solid #eee;
}
.tname {
    position: absolute;
    left:20px;
    width:200px;
    height:120px;
    background: #fff;
    border: 1px solid #eee;
}
.tlogo {
    position: relative;
    float:left;
    display: block;
    width:80px;
    height:80px;
    margin: 20px;
    border: 1px solid #eee;
}
.tlogo > img {
    width:80px;
    height:80px;
}
.tintro {
    position: absolute;
    padding: 0 20px;
    left:240px;
    right:180px;
    width:auto;
    background: #fff;
    border: 1px solid #eee;
}
.tpartner {
    position:relative;
    float: right;
    height:420px;
    width:120px;
    background: #fff;
    border: 1px solid #eee;
}
.pan1 {
    position: relative;
    display: block;
    margin-top:19px;
    margin-left: 19px;
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
}

.pan1 > img{
    width:80px;
    height:80px;
}